# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build files
dist/
build/
out/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage
coverage/

# Temporary files
